<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Webpage</title>
</head>

<body style = "background-color: palegreen">

    <ol>
        <li> list item 1</li>
        <li> list item 2</li>
    </ol>

    <ul style="font-size: 30px; color: skyblue; font-family: Cambria">
        <li> unnumbered list item 1</li>
        <li style="font-size: 40px; color: green"> unnumbered list item 2</li>
        <li> unnumbered list item 3</li>

    </ul>

    <table><caption>Fruits</caption>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>577854</td>
                <td>577855</td>
            </tr>
            <tr>
                <td>Jack</td>
                <td>577856</td>
                <td>577857</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>&nbsp;</td>
                <td>Personal</td>
                <td>Office</td>
            </tr>
        </tfoot>
    </table>

    <br>
    <p style = "text-align: center;"><strong>this is using strong tag</strong></p>
    <br>
    <em> this is em tag</em>

    <table style="border:2px solid black">
       <thead>
            <tr>
                <td>Row 1 data</td>
            </tr>
        <thead>
        <tr>
            <td>Row 2 data</td>
        </tr>
    </table>



</body>

</html>